html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'avenir', sans-serif;
    color: #fff;
}

.red_box {
    position: absolute;
    background-color: #db5461;
    width: 54%;
    height: 100%;
    transform: skewX(10deg);
    z-index: -1;
}

.background1 {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
    background-image: url("images/background_header.jpg");
    background-size: cover;
    z-index: -2;
}

.background2 {
    position: absolute;
    width: 20%;
    height: 100%;
    background-color: #db5461;
    z-index: -2;

}

.logo {
    width: 180px;
    margin: 3.5% 4% 0% 4%;
}

ul {
    box-shadow: 0px 0px 15px #000;
    float: right;
    background-color: #fff;
    margin: 3.5% 3% 0% 3%;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
}

li {
    display: inline-block;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #30343f;
}

.digital {
    color: #30343f;
}

h1 {
    margin: 180px 0px 0px 65px;
}

.break {
    display: none;
}

.learn {
    display: inline-block;
    color: #30343f;
    background-color: #fff;
    font-weight: bold;
    padding: 3px 10px;
    border: 3px solid #000;
    border-radius: 50px 50px 50px 50px;
    margin: 72px 0px 0px 65px;
    transition-property: color, border-color, background-color;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.learn:hover {
    color: #fff;
    border-color: #fff;
    background-color: #30343f;
}

.footer {
    position: fixed;
    top: 90%;
    background-color: #30343f;
    padding: 26px 0px 12px 70px;
}

.ft {
    width: 280px;
    font-size: 16px;
    display: inline-block;
    margin-right: 200px;
}

.ft img {
    float: left;
    width: 33px;
    margin-right: 10px;
}

.ft .head {
    font-weight: bold;
    margin-bottom: 0px;
    animation-name: numbers;
    animation-iteration-count: 8;
    animation-duration: .4s;
    animation-timing-function: linear
}



.ft p {
    margin-top: 2px;
}

@keyframes numbers {
    0% {
        transform: rotatex(0deg);
    }
    100% {
        transform: rotatex(720deg);
    }
}

.num1 {
    visibility: hidden;
    animation-name: num1;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.num2 {
    visibility: hidden;
    animation-name: num2;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.num3 {
    visibility: hidden;
    animation-name: num3;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.num4 {
    visibility: hidden;
    animation-name: num4;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes num1 {
    0% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    25% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    50% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    75% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    100% {
        visibility: visible;
        transform: rotatex(0deg);
    }
}

@keyframes num2 {
    0% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    25% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    50% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    75% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
    100% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
}


@keyframes num3 {
    0% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    25% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    50% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
    75% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
    100% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
}


@keyframes num4 {
    0% {
        visibility: visible;
        transform: rotatex(0deg);
    }
    25% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
    50% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
    75% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
    100% {
        visibility: hidden;
        transform: rotatex(0deg);
    }
}

@media (max-width: 425px) {

    .learn {
        margin: 92px 0px 0px 10px;
        font-size: 22px;
    }

    h1 {
        margin: 180px 0px 0px 10px;
    }

    .logo {
        width: 120px;
        margin: 3.5% 4% 0% 4%;
    }

    .break {
        display: inline;
    }
}
